
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNote</title>
</head>
<body>
    <div>
        <form action="" method="post">
            <textarea rows="3" cols="20" name="Body"></textarea>
            <input type="submit" value="Add"/>
        </form>
    </div>
</body>
</html>
