@model NoteSaver.Models.Note
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
        <form action="/Home/Delete" method="post">
            <textarea rows="3" cols="40" name="Body">@ViewBag.noteBody</textarea>
            <input type="hidden" value="@ViewBag.NoteId" name="Id"/>
            <input type="submit" value="Comfirm" />
        </form>
    </div>
</body>
</html>
